<section class="view">
    <!--https://www.figma.com/design/gOYLKG432BiTSh2fkaWV1B/Login-Page-Perfect-UI-(Freebie)-(Community)?node-id=8-2&p=f&t=lGDsQZGVZYMhkbKP-0-->
    <div class="amusement"></div>
    <div class="login-0">
        <div class="la">
            <img src="../../../assets/images/logo.png" alt="">
            <p>UI Unicorn</p>
        </div>
        <div class="login-form">
            <p class="form-title">Nice to see you again</p>
            <form action="" [formGroup]="loginForm" (submit)="submitLogin()">
                <label for="email">Email</label>
                <text-input type="text" formControlName="email"
                [showValidation]="isSubmitting"
                [control]="loginForm.formControl('email')"
                placeholder="Email or phone number"></text-input>
                
                <label for="password">Password</label>
                <text-input type="password" formControlName="password" 
                [showValidation]="isSubmitting"
                [control]="loginForm.formControl('password')"
                placeholder="***********"></text-input>
                
                <div class="recovery">
                    <p>Remember Me</p>
                    <a routerLink="">Forgot Password?</a>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Sign In</button>
                </div>

                <div class="form-break"></div>

                <div class="form-actions">
                    <button class="btn btn-dark">
                        <img src="../../../assets/images/google.svg" alt="">
                        <span>Or sign In with Google</span>
                    </button>
                    <p>Don't have an account? <a routerLink="">Sign up now</a></p>
                </div>
            </form>
        </div>
    </div>
</section>