
@import url('./assets/all.min.css');

@font-face {
    font-family: "Inter-Bold";
    src: url('./assets/fonts/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url('./assets/fonts/Inter_18pt-ExtraBold.ttf');
}

@font-face {
    font-family: "Inter-Light";
    src: url('./assets/fonts/Inter_18pt-Light.ttf');
}

@font-face {
    font-family: "Inter-Medium";
    src: url('./assets/fonts/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: "Inter-Medium";
    src: url('./assets/fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url('./assets/fonts/Inter_18pt-SemiBold.ttf');
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: "Inter-Medium";
    scrollbar-width: thin;
}

p{
    color: #1A1A1A;
}

i.password-eye{
    display: inline-block;
    margin-left: -8%;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    color: #5F6577;
}

i.clear-input{
    display: inline-block;
    margin-left: -8%;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    color: #5F6577;
}



/*******************************************************************************/
/*******************************animations**************************************/
/*******************************************************************************/

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }